<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blockly</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <script src="{{ url_for('static',filename='modules/blockly.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blockly_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blocks_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/jquery-3.5.0.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/python_compressed.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/buffer@6.0.3')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/msg/strings_en.js')}}"></script>
  <script src="{{ url_for('static',filename='js/control-page.js')}}"></script>
  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/blockly-page.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/blockly/workspace.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/blockly-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
  </style>
</head>

<script> 
  $(document).ready(function () {
    var socket = io('http://' + document.domain + ':' + location.port);

    socket.on("connect", function () {
      console.log("Socket connected!");
      socket.emit('connection', { 'data': 'I\'m connected!' });
      socket.emit('get-all-projects');
    });
    socket.on('disconnect', () => {
      console.log("Socket disconnected");
      socket.emit('disconnection', { 'data': 'I\'m disconnected!' });
    });

    socket.on("all-projects", (data) => {
      console.log("all-projects data:", data);
      loadProjects(data);
    });

  });

</script>
<body onload="loadProjectAndStrings('{{language}}')" onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% block javascript %}
    {% if language == 'el' %}
      <script src="{{ url_for('static',filename='modules/msg/el.js')}}"></script>
      <script src="{{ url_for('static',filename='modules/msg/custom_blocks_el.js')}}"></script>
      {% include 'blockly-workspace-el.xml' %}  
    {% elif language == 'en' %}
      <script src="{{ url_for('static',filename='modules/msg/en.js')}}"></script>
      <script src="{{ url_for('static',filename='modules/msg/custom_blocks_en.js')}}"></script>
      {% include 'blockly-workspace-en.xml' %}  
    {% else %}
      <script src="{{ url_for('static',filename='modules/msg/el.js')}}"></script>
      <script src="{{ url_for('static',filename='modules/msg/custom_blocks_el.js')}}"></script>
      {% include 'blockly-workspace-el.xml' %}  
    {% endif %}
  {% endblock %}

  {% include 'header.html' %}
  <div id="main-container">
    <div id="back-import-export-buttons-container">
      <div id="go-back-to-home-button-wrap">
        <button type="button" class="go-back-to-home">
          <a href='/' id="open-home-href" style="color: white; text-decoration: none;">
            Επιστροφή στην αρχική σελίδα
          </a>
        </button>
      </div>

      <div id="button-export">
        <button onclick="save_xml('{{ project_id }}')" id="save-code-button" type="button" class="export">Αποθήκευση</button>
      </div>
    </div>

    <div id="blocklyDiv"></div>

    <div id="buttons-container">
      <div id="runButton-wrap">
        <button onclick="runCode('{{ project_id }}')" id="run-code-button" type="button" class="run">Τρέξε το πρόγραμμα!</button>
      </div>

      <div id="stopButton-wrap">
        <button onclick="stop_script()" id="stop-running-code-button" type="button" class="stop">Σταμάτα την εκτέλεση!</button>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

  <!-- modal : error -->
  {% include 'modal-error.html' %}

  <!-- modal : success -->
  {% include 'modal-success.html' %}

</body>

</html>
