<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Control page</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <!-- <script src="{{ url_for('static',filename='js/api.js')}}"></script> -->
  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/control-page.js')}}"></script>

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/control-page-body.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
  </style>
</head>

<body>
  {% include 'header.html' %}

  <div id="main-container">
    <div id="go-back-to-home-button-container">
      <div id="go-back-to-home-button-wrap">
        <button type="button" class="go-back-to-home">
          <a href='/' id="open-home-href" style="color: white; text-decoration: none;">
            Επιστροφή στην αρχική σελίδα
          </a>
        </button>
      </div>
    </div>

    <div id="panel-title-container">
      <div id="panel-title-wrap">Χειροκίνητη χρήση του ρομπότ</div>
    </div>

    <div id="blocks-container">
      <div id="blocks-wrap">
        <div id="id-robot-block-container" class="block-container">
          <div id="controls-container">
            <button onclick="send_command_for_manual_control('up')" class="up">Μπροστά</button><br><br>
            <button onclick="send_command_for_manual_control('left')" class="left">Αριστερά</button>
            <button onclick="send_command_for_manual_control('right')" class="right">Δεξιά</button><br><br>
            <button onclick="send_command_for_manual_control('down')" class="down" class="back">Πίσω</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="stop-Blockly-Button-container">
      <div id="stop-Blockly-Button-wrap" >
        <button onclick="stop_script()" type="button" class="stop-Blockly">
        'Αμεση διακοπή</button>
      </div>
    </div> -->
  </div>

  {% include 'footer.html' %}

</body>

</html>