<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>

  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script src="{{ url_for('static',filename='js/home-page.js')}}"></script>

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/home-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
  </style>
</head>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var socket = io('http://' + document.domain + ':' + location.port);

    socket.on("connect", function () {
      console.log("Socket connected!");
      socket.emit('connection', { 'data': 'I\'m connected!' });
      socket.emit('get-all-projects');
    });
    socket.on('disconnect', () => {
      console.log("Socket disconnected");
      socket.emit('disconnection', { 'data': 'I\'m disconnected!' });
    });

    socket.on("all-projects", (data) => {
      console.log("all-projects data:", data);
      loadProjects(data);
    });

  });
</script>

<body onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% include 'header.html' %}
  <div id="main-container">
    <div id="home-page-title-wrap">
      <div id="home-page-title">
        <strong>Μέσα απο την σελίδα αυτή, μπορείς να δεις όλα τα προτζεκτ που έχουν δημιουργηθεί και αποθηκευτεί πάνω
          στο συνδεδεμμένο ρομπότ καθώς και τους φακέλους στους οποίους ανήκουν. Μπορείς να δημιουργήσεις καινούριο
          φάκελο ή προτζεκτ.
          Υπάρχει ακόμα η δυνατότητα να μεταβείς στην σελίδα του διαχειριστικού για την παραμετροποίηση τιμών που
          αφορούν το ρομπότ αλλά και στην σελίδα του εικονικού προγραμματισμού. </strong>
      </div>
    </div>



    <div id="buttons-container">

      <div id="manual-control-wrap">
        <button type="button" class="manual-control">
          <a href='/manual_control' style="color: white; text-decoration: none;">Χειροκίνητη λειτουργία</a></button>
      </div>


      <div id="open-panel-wrap">
        <button type="button" class="open-panel">
          <a href='/admin_panel' style="color: white; text-decoration: none;">Άνοιξε το διαχειριστικό
            περιβάλλον</a></button>
      </div>

      <div id="create-new-project-Button-wrap">
        <button onclick="createNewProject()" type="button" class="create-new-project" id="create-new-project">
          Πρόσθεσε ένα νέο πρότζεκτ
        </button>
      </div>
    </div>

    <div id="project-lists-container">
      <div id="project-lists-table">
        <table id="table-projects" role="grid">
          <thead id="head-table-projects" role="grid">
            <tr role="row">
              <th class="head-title" tabindex="0" rowspan="1" colspan="1">Τίτλος</th>
              <th class="head-title" tabindex="0" rowspan="1" colspan="1">Περιγραφή</th>
              <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
              <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
              <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
              <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
            </tr>
          </thead>
          <tbody id="body-table-projects" role="grid">

          </tbody>

        </table>
      </div>
    </div>

    <div id="stop-Blockly-Button-container">
      <div id="stop-Blockly-Button-wrap">
        <button onclick="stop_script()" type="button" class="stop-Blockly">
          'Αμεση διακοπή</button>
      </div>
    </div>

  </div>

  {% include 'footer.html' %}

  <!-- modal : error -->
  {% include 'modal-error.html' %}

  <!-- modal : success while loading/ saving settings -->
  {% include 'modal-success.html' %}
  
  <!-- modal : ask for new project name  -->
  {% include 'modal-project-name.html' %}

  <!-- modal : ask for new project description -->
  {% include 'modal-project-description.html' %}
</body>

</html>