<div class="modal show" id="modal-projectname-space" style="top: 5em;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-projectname-space-content">

      <!-- Modal Header -->
      <div class="modal-header border-0">
        <button type="button" class="close" id="modal-projectname-space-close-button" data-dismiss="modal"
          onclick="closeModalNewProjectName()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong id="modal-projectname-space-text">Παρακαλώ γράψε το όνομα του καινούριου πρότζεκτ:</strong>
        <div class="form-group" id="form-project-name">
          <input type="text" id="project-name-text">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary" id="button-project-name" data-dismiss="modal">Εντάξει</button>
      </div>
    </div>
  </div>
</div>