<div class="modal show" id="modal-success" style="top: 5em;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="modal-success-content">

        <!-- Modal Header -->
        <div class="modal-header border-0"></div>

        <!-- Modal body -->
        <div class="modal-body">
          <strong id="modal-success-text">Eπιτυχία!</strong>
          <button type="button" class="close" id="modal-success-close-button" data-dismiss="modal"
            onclick="hideModalSuccess()">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer border-0"> </div>
      </div>
    </div>
</div>
