<div class="modal show" id="modal-error" style="top: 5em;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-error-content">

      <!-- Modal Header -->
      <div class="modal-header border-0"></div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong id="modal-error-text">Υπήρξε πρόβλημα!</strong>
        <button type="button" class="close" id="modal-error-close-button" data-dismiss="modal"
          onclick="hideModalError()">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer border-0"> </div>
    </div>
  </div>
</div>
