<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Panel page</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>


  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/panel-page.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/panel-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
  </style>
</head>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var socket = io('http://' + document.domain + ':' + location.port);

    socket.on("connect", function () {
      console.log("Socket connected!");
      socket.emit('connection', { 'data': 'I\'m connected!' });
      socket.emit('get_admin_panel_parameters');
    });

    socket.on('disconnect', () => {
      console.log("Socket disconnected");
      socket.emit('disconnection', { 'data': 'I\'m disconnected!' });
    });

    socket.on("parameters", (data) => {
      console.log("parameters:", data);
      loadSettings(data);
    });
  }) 
</script>

<body onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% include 'header.html' %}
  <div id="main-container">
    <div id="go-back-to-home-button-container">
      <div id="go-back-to-home-button-wrap">
        <button type="button" class="go-back-to-home">
          <a href='/' id="open-home-href" style="color: white; text-decoration: none;">
            Επιστροφή στην αρχική σελίδα
          </a>
        </button>
      </div>
    </div>

    <div id="panel-title-container">
      <div id="panel-title-wrap">Διαχειριστικό περιβάλλον</div>
    </div>

    <div id="blocks-container">

      <div id="blocks-title-wrap">
        <div id="blocks-title">
          <strong>Μέσα απο την σελίδα του διαχειριστικού υπάρχει η δυνατότητα να γίνουν αλλαγές σε τιμές που αφορούν το
            ρομπότ όπως το όνομα του ή τιμές ορισμένων μπλοκς</strong>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="row justify-content-center">
          <div class="col-auto">

            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">Όνομα παραμέτρου</th>
                  <th scope="col">Προεπιλεγμένη τιμή</th>
                  <th scope="col">Τιμή</th>
                </tr>
              </thead>
              <tbody id="body-table-parameters">
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="Blockly-Button-container">
        <div id="Blockly-Button-wrap">
          <button onclick="saveSettings()" name="submit" type="submit" class="save-panel-changes">Αποθήκευση
            αλλαγών</button>
        </div>
      </div>

    </div>

    {% include 'footer.html' %}

    <!-- modal : error while loading/ saving settings -->
    {% include 'modal-error.html' %}

    <!-- modal : success while loading/ saving settings -->
    {% include 'modal-success.html' %}

</body>

</html>
