/* Style the body */
html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

#go-back-to-home-button-container {
  width: 100%; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  padding: 1%;
}

#go-back-to-home-button-wrap { 
  padding: 2%;
  margin-right: 5%;
}

button.go-back-to-home {
  text-align: center;
  border: 1px solid #6C757D;
  background-color: #6C757D;
  color: #fff;
  min-width: 200px;
  min-height: 40px;
}


#panel-title-container {
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


#panel-title-wrap {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

#blocks-container {
  height:fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#blocks-title-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
}

#blocks-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  margin-top: 2%;
}

.block-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
  margin: 5%;
}

.block-wrap {
  width: 70%;
  padding: 0.2rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  float: left;
}

.value-wrap {
  width: 70%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
}

button.up, button.left, button.right, button.down {
  text-align: center;
  border: 1px solid #f58220;
  background-color: #f58220;
  color: #fff;
  min-width: 200px;
  min-height: 40px;
}

#controls-container {
  text-align:center;
  width:480px;
}


#stop-Blockly-Button-container{
  /* height: 20%; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stop-Blockly-Button-wrap {
  margin: 0;
  padding: 2%;
}

button.stop-Blockly {
  text-align: center;
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
  min-width: 200px;
  min-height: 40px;
}
