footer {
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    background-color: #004976; 
    justify-content: center;
    font-size: 13px;    
    
}

.hua-ellak {
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
    flex-direction: column;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}