/* Style the header */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #f58220;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: 90px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.header-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; 
}

.hua-logo {
  max-width: 60px;
  max-height: 60px;
  margin-right: 0.2rem;
}

.ellak-logo {
  max-width: 200px;
}

#header-robot-name {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 70%;
  padding-top: 1%;
}

#robot-name {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1380px) {
  #header-robot-name {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 1080px) {
  #header-robot-name {
    margin-left: 50%;
  }
}