<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  
  <script src="{{ url_for('static',filename='js/api.js')}}"></script>
  <script src="{{ url_for('static',filename='js/home-page-js/home-page.js')}}"></script>
  <script src="{{ url_for('static',filename='js/home-page-js/home-page-modals.js')}}"></script>

  <style>
    @import url("{{ url_for('static',filename='css/home-page-css/home-page-header-style.css')}}");
    @import url("{{ url_for('static',filename='css/home-page-css/home-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
  </style>
</head>

<body>
  <header id="header" class="header">
    <div class="header-wrap">
      <div id="header-logo" class="header-logo">
        <img src="{{ url_for('static',filename='photos/hua.gif')}}" class="hua-logo" alt=" ">
        <img src="{{ url_for('static',filename='photos/ellak-logo.png')}}" class="ellak-logo" alt=" ">
      </div>
    </div>
  </header>
<div id="main-container">
  <div id="home-page-title-wrap">
    <div id="home-page-title">
      <strong>Μέσα απο την σελίδα αυτή, μπορείς να δεις όλα τα προτζεκτ που έχουν δημιουργηθεί και αποθηκευτεί πάνω στο συνδεδεμμένο ρομπότ καθώς και τους φακέλους στους οποίους ανήκουν. Μπορείς να δημιουργήσεις καινούριο φάκελο ή προτζεκτ. 
        Υπάρχει ακόμα η δυνατότητα να μεταβείς στην σελίδα του διαχειριστικού για την παραμετροποίηση τιμών που αφορούν το ρομπότ αλλά και στην σελίδα του εικονικού προγραμματισμού. </strong>
    </div>
  </div>

  

  <div id="buttons-container">

    <div id="manual-control-wrap">
      <button type="button" class="manual-control">
        <a href='/manual_control' style="color: white; text-decoration: none;">Χειροκίνητη λειτουργία</a></button>
    </div>


    <div id="open-panel-wrap">
      <button type="button" class="open-panel">
        <a href='/admin_panel' style="color: white; text-decoration: none;">Άνοιξε το διαχειριστικό περιβάλλον</a></button>
    </div>

    <div id="create-new-project-Button-wrap">
      <button onclick="createNewProject()" type="button" class="create-new-project" id="create-new-project">Πρόσθεσε ένα
        νέο πρότζεκτ</button>
    </div>
  </div>

  <div id="project-lists-container">
    <div id="project-lists-table">
      <table id="table-projects" role="grid">
        <thead id="head-table-projects" role="grid">
          <tr role="row">
            <th class="head-title" tabindex="0" rowspan="1" colspan="1">Τίτλος</th>
            <th class="head-title" tabindex="0" rowspan="1" colspan="1">Περιγραφή</th>
            <!-- <th class="head-title" tabindex="0" rowspan="1" colspan="1">ID</th> -->
            <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
            <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
            <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
          </tr>
        </thead>
        <tbody id="body-table-projects" role="grid">

          {% for project in projects %}
          {% set projectid = project['project_id'] %}
          <tr>
            <td> {{ project['title'] }}</td>
            <td>{{project['info'] }}</td>
            <!-- <td>{{project['project_id'] }}</td> -->
            <td> <div id="run-Blockly-Button-container" class="run-Blockly-Button-container">
                    <div id="run-Blockly-Button-wrap" class="run-Blockly-Button-wrap">
                      <button onclick="execute_script('{{ projectid }}')" type="button" class="run-Blockly" id="open-Blockly">
                          Εκτέλεση
                      </button>
                    </div>
                  </div>
          </td>
          <td> <div id="open-Blockly-Button-container" class="open-Blockly-Button-container">
            <div id="open-Blockly-Button-wrap" class="open-Blockly-Button-wrap">
              <button type="button" class="open-Blockly" id="open-Blockly">
                <a href='/blockly?id={{ project["project_id"] }}' id="open-Blockly-href" style="color: white; text-decoration: none;">Επεξεργασία</a></button>
            </div>
          </div>
          </td>
          <td> <div id="delete-Blockly-Button-container" class="delete-Blockly-Button-container">
            <div id="delete-Blockly-Button-wrap" class="delete-Blockly-Button-wrap">
              <button onclick="deleteElement(this,'{{ projectid }}')" type="button" class="delete-Blockly" id="open-Blockly">
                <a href='' id="open-Blockly-href" style="color: white; text-decoration: none;">
                  Διαγραφή
                </a>
              </button>
            </div>
          </div>
        </td>

          </tr>
          {% endfor %}

        </tbody>

       

      </table>
    </div>
  </div>

  <div id="stop-Blockly-Button-container">
    <div id="stop-Blockly-Button-wrap" >
      <button onclick="stop_script()" type="button" class="stop-Blockly">
      'Αμεση διακοπή</button>
    </div>
  </div>

</div>
  <footer>
    <div class="hua-ellak">
      <span>Σχεδιάστηκε και υλοποιήθηκε από Χαροκόπειο σε συνεργασία με ΕΛΛΑΚ</span>
    </div>
  </footer>
</body>


<!-- modal : ask for new project name  -->
<div class="modal show" id="modal-projectname-space" style="top: 5em;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-projectname-space-content">

      <!-- Modal Header -->
      <div class="modal-header border-0">
        <button type="button" class="close" id="modal-projectname-space-close-button" data-dismiss="modal"
          onclick="closeModalNewProjectName()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong id="modal-projectname-space-text">Παρακαλώ γράψε το όνομα του καινούριου πρότζεκτ:</strong>
        <div class="form-group" id="form-project-name">
          <input type="text" id="project-name-text">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary" id="button-project-name" data-dismiss="modal">Εντάξει</button>
      </div>
    </div>
  </div>
</div>

<!-- modal : ask for new project description -->
<div class="modal show" id="modal-project-description-space" style="top: 5em;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-project-description-content">

      <!-- Modal Header -->
      <div class="modal-header border-0">
        <button type="button" class="close" id="modal-project-description-close-button" data-dismiss="modal"
          onclick="closeModalNewProjectDescription()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong id="modal-project-description-space-text">Παρακαλώ γράψε μια σύντομη περιγραφή για το καινούριο
          πρότζεκτ:</strong>
        <div class="form-group" id="form-project-description">
          <input type="text" id="project-description-text">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer border-0">
        <button onclick="getDescription()" type="button" class="btn btn-primary" id="button-project-description"
          data-dismiss="modal">Εντάξει</button>
      </div>
    </div>
  </div>
</div>


<!-- modal : ask for new project description -->
<div class="modal show" id="modal-project-folder-space" style="top: 5em;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-project-folder-content">

      <!-- Modal Header -->
      <div class="modal-header border-0">
        <button type="button" class="close" id="modal-project-folder-close-button" data-dismiss="modal"
          onclick="closeModalNewProjectFolder()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong id="modal-project-folder-space-text">Παρακαλώ γράψε το όνομα του φακέλου για το καινούριο
          πρότζεκτ:</strong>
        <div class="form-group" id="form-project-folder">
          <input type="text" id="project-folder-text">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer border-0">
        <button onclick="getFolder()" type="button" class="btn btn-primary" id="button-project-description"
          data-dismiss="modal">Εντάξει</button>
      </div>
    </div>
  </div>
</div>


  <!-- modal : error -->
  <div class="modal show" id="modal-error-home" style="top: 5em;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="modal-error-content">

        <!-- Modal Header -->
        <div class="modal-header border-0"></div>

        <!-- Modal body -->
        <div class="modal-body">
          <strong id="modal-error-text">Υπήρξε πρόβλημα!</strong>
          <button type="button" class="close" id="modal-error-close-button" data-dismiss="modal"
            onclick="hideModalErrorInHome()">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer border-0"> </div>
      </div>
    </div>
  </div>

  <!-- modal : success while loading/ saving settings -->
  <div class="modal show" id="modal-success-home" style="top: 5em;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="modal-success-content">

        <!-- Modal Header -->
        <div class="modal-header border-0"></div>

        <!-- Modal body -->
        <div class="modal-body">
          <strong id="modal-success-text">Eπιτυχία!</strong>
          <button type="button" class="close" id="modal-success-close-button" data-dismiss="modal"
            onclick="hideModalSuccessInHome()">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer border-0"> </div>
      </div>
    </div>
  </div>
</html>
